﻿@{
    Layout = null;
}
<h1 ng-show="siteInfo">Import Rules for Site <span class="font-weight-bold">'{{ siteInfo.Name }}'</span> </h1>

<div ng-show="!postResponse" class="form-group">
    <input type="file" file-model="myFile"/>

</div>
<div ng-show="!postResponse" class="form-group">
    <img src="~/images/ajax-loader.gif" ng-show="busy" class="ng-hide"/>
    <button class="btn btn-primary" ng-disabled="busy" ng-click="uploadFile()">Upload</button>
</div>
<div ng-show="busy" style="padding:5px">Be patient, this might take a while.</div>
<div ng-show="postResponse">
    <div class="mb-3">{{postResponse.message}}</div>
    <div ng-show="postResponse.errors && postResponse.errors.length">
        <div>Errors</div>
        <ul>
            <li ng-repeat="item in postResponse.errors">{{item}}</li>
        </ul>
    </div>
</div>