﻿@using System.Web.Hosting
@using System.Web.Optimization
@using GenericRedirector.Entities
<!DOCTYPE html>
@{
    string dbname;
    string dbserver;
    using (var context = new RedirectorEntities())
    {
        dbname = context.Database.Connection.Database;
        dbserver = context.Database.Connection.DataSource;
    }
}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HFC Generic Redirector</title> @RenderSection("head", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("HFC Generic Redirector", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">


            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>

        </div>
    </div>

</div>
<div  class="body-content" >
    <div style="padding:10px">Site <span class="font-weight-bold">@HostingEnvironment.SiteName</span> is using database <span class="font-weight-bold">@dbname</span> from server <span class="font-weight-bold">@dbserver</span></div>
    
</div>
<div class="  body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Home Franchise Concepts</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>