﻿@using System.Web.Optimization
@using GenericRedirector.Entities
@{
    ViewBag.Title = "Administration";
    string dbname;
    string dbserver;
    using (var context = new RedirectorEntities())
    {
        dbname = context.Database.Connection.Database;
        dbserver = context.Database.Connection.DataSource;
    }
}

@section head
{
    <link rel="stylesheet" href="~/lib/ng-admin/ng-admin.min.css">
    
}
    

<div ng-app="myApp">
    <div ui-view="ng-admin"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/application")
}